:root {
}

.button {
}

.button:focus {
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    border-left-color: rgb(0, 255, 40);
    border-right-color: rgb(0, 255, 40);
    border-top-color: rgb(0, 255, 40);
    border-bottom-color: rgb(0, 255, 40);
}
